<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>2nd Generation Sports Success</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homestyle.css') }}">

</head>

<body>

  <div class="container-fluid">
    <div class="justify-content-center row" align='center'>
      <h1 class="display-4">2nd Generation Sports Success</h1>
      <p></p>
    </div>

    <div class="justify-content-center row" align='center'>
      <button type="button" class="userBtn btn btn-dark" data-toggle="modal" data-target="#aboutModal">About</button>
        <!-- About Modal -->
          <div class="modal fade" id="aboutModal" role="dialog">
            <div class="modal-dialog">

              <!-- About Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">About</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>2nd Generation Sports Success helps automate the retrieval of 2nd generation athletes for a team. It does this by using a team’s media guide PDF that is uploaded to the website. To ensure the accuracy of the gathered data, we provide a quality assurance checkbox system. The data can be outputted to an Excel file for your convenience. URL input is still being developed.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

      <button type="button" class="userBtn btn btn-dark" data-toggle="modal" data-target="#userGuideModal">User Guide</button>
        <!-- User Guide Modal -->
          <div class="modal fade" id="userGuideModal" role="dialog">
            <div class="modal-dialog">

              <!-- User Guide Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">User Guide</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <ol class="float-left">
                      <li class="float-left">Select year, team, sport, and gender.</li>
                      <li class="float-left">Upload the corresponding team's media guide PDF.</li>
                      <li class="float-left">Click submit.</li>
                      <li class="float-left">Wait for the program to find potential 2nd gen athletes.</li>
                      <li class="float-left">Use checkboxes to confirm found 2nd gen athletes.</li>
                      <li class="float-left">Finally, export your data set to Excel.</li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
    </div>


    <div class="justify-content-center row" align='center'>

      <form action='/' method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label class="year-label " for="year">Year:</label>
          <input type="text" name="year" id='year1'>

          <label class="team-label " for="team">Team:</label>
          <input type="text" name="team" id='team1'>

          <select class="mdb-select md-form" searchable="Search here.." name="sport">
            <option value="" disabled selected>Choose Your Sport</option>
            <option value="basketball">Basketball</option>
            <option value="football">Football</option>
          </select>

          <select class="mdb-select md-form" searchable="Search here.." name="gender">
            <option value="" disabled selected>Choose Your Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <div class="file-field">
            <input type="file" name="pdffile">
          </div>


        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="justify-content-center row" align='center'>


      {% if processed %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Year</th>
              <th scope="col">Sport</th>
              <th scope="col">Gender</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <th scope="row">{{team_name}}</th>
              <td>{{team_year}}</td>
              <td>{{team_sport}}</td>
              <td>{{team_gender}}</td>
              <td>{{len1}}</td>
            </tr>
          </tbody>
      </table>

    <div id="checkL" class="row checkList">
      <form id="clForm" action='/postCheckList' method="POST" enctype="multipart/form-data">
        <div>
          <input type="text" name=teamName value="{{team_name}}" readonly="readonly">
          <input type="text" name=teamYear value="{{team_year}}" readonly="readonly">
          <input type="text" name=teamSport value="{{team_sport}}"readonly="readonly">
        </div>
        <ul id="cList" style="list-style: none;">
          <!-- For loop logic of jinja template -->
          {%for i in range(0, len1)%}
          <br class="row float-left">
            <li class="col"><input style="margin-top: 8px;" class = "float-left" type="checkbox" name="checkboxVal" value="{{list1[i]}}"><div style="text-align: justify; margin-left: 25px;">
              {{list1[i].strip()}}
            </div></li>
        </br>
          {%endfor%}
        </ul>
          <input type="submit" value="Submit">
      </form>
    </div>

    <script type="text/javascript" src="../static/hilitor.js"></script>
    <script type="text/javascript">

    var myHilitor;
    document.getElementById("cList").addEventListener("mouseover", function() {
      myHilitor = new Hilitor();
      myHilitor.apply("father parent mother parents Father Mother dad Dad Mom mom");
      console.log("highlighting later ")
     }, false);
    console.log("highlighter applied later");

    </script>

      {% else %}

      <p>
        No file has been processed.
      </p>

      {% endif %}







    </div>
  </div>





</body>

</html>
