<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>
      HI
      </p>

      <form action='/uploadpdf' method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Choose a file</label>
          <div class="custom-file">
            <input type="file" name="pdffile" id='pdffile'>
            <label class="custom-file-label "for="file">Select File...</label>
          </div>

          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </body>
</html>
